body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.container, .top-icons, .left-icons, .explorer, .content, .footer-img {
    border: 1px solid rgb(170, 190, 202);
}

.explorer, .file-tab, #displayed-content {
    padding: 5px;
}

.container {
    display: grid;
    min-height: 800px;
    min-width: 1200px;
    height: 90vh;
    width: 90vw;
    margin: 20px;
    grid-template-areas: 'header header header'
                         'left explorer file-tab'
                         'left explorer content'
                         'footer footer footer';
    grid-template-columns: 3% 17% 80%;
    grid-template-rows: 3% 4% 90% 3%;
}

.top-icons {
    display: flex;
    padding: 2px;
    grid-area: header;
}

.top-icons li {
    display: inline-flex;
    padding: 2px;
    justify-self: center;
    position: relative;
    bottom: 17px;
    right: 20px;
    border: 1px solid black;
}

.top-icons li:hover {
    border: 1px dotted orange;
}

.left-icons {
    grid-area: left;
}

.explorer {
    grid-area: explorer;
}

.explorer-heading {
    padding-top: 5px;
    padding-bottom: 20px;
}

.files {
    border-top: 2px solid rgb(170, 190, 202);
}

.file-name {
    padding: 3px;
}

.file-name:hover {
    border: 1px dotted orange;
}

.gray-triangle {
    color: gray;
}

.content {
    grid-area: content;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(59, 132, 214, 0.5);
}

::-webkit-scrollbar-track {
    border-left: 1px solid rgb(170, 190, 202);
}

.file-tab {
    grid-area: file-tab;
    border: 2px solid rgb(170, 190, 202);
    padding: 3px;
}

.file-tab section {
    display: inline;
    padding: 5px;
    border-right: 2px solid rgb(170, 190, 202);
}

#displayed-content {
    padding-right: 10%;
    padding-left: 5%;
}

#displayed-content h1 {
    color: #7DCEA0;
}

#displayed-content h2 {
    color: #2E86C1;
}

#displayed-content h3 {
    color: #AED6F1;
}

#displayed-content p {
    color: #F9E79F;
}

footer {
    display: flex;
    object-fit: fill;
}

.footer-img {
    display: flex;
    width: 90vw;
}

.vscode-img {
    display: flex;
    align-self: center;
    height: 32px;
    width: 32px;  
}

.content-source {
    display: none;
}

/* FONTS */